.routerLink {
  color: unset;
  text-decoration: none;
}

.block {
  display: block;
}

.floating-btn {
  position: absolute;
  top: 15px;
  right: 15px;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
