.routerLink {
  color: unset;
  text-decoration: none;
}

.block {
  display: block;
}

.container {
  width: 598px;
  margin: auto;
}

.floating-btn {
  position: absolute;
  top: 15px;
  right: 15px;
}
