* {
  box-sizing: border-box;
}

body {
  padding: 8px;
}

body, p {
  margin: 0;
}

button, input, textarea {
  font: inherit;
}

textarea {
  width: 100%;
  resize: none;
  border: none;
  outline: none;
}
